.container {
  height: 100%;
  display: flex;
  align-items: center;

  @media(max-width: 768px) {
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  max-width: 440px;

  h1 {
    margin: 0.5rem 0 2rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.5rem;

    margin-bottom: 2.375rem;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    color: #1A1917;
    font-weight: 700;

    width: 260px;
    height: 60px;
    border-radius: 0.25rem;
    background: var(--secondary);

    transition: filter 0.4s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  @media(max-width: 768px) {
    max-width: 80%;

    h1 {
      margin: 0.5rem 0 0;
    }

    p {
      font-size: 0.875rem;
      line-height: 1rem;

      margin-bottom: 1.5rem;
    }

    button {
      font-size: 0.875rem;
  
      width: 180px;
      height: 36px;
    }
  }

  @media(max-width: 650px) {
    max-width: 100%;

    p {
      margin-top: 0.25rem;
      text-align: justify;
      line-height: 1.25rem;
    }

    button {
      margin: 0 auto;
    }
  }
}

.quotes {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.875rem;

  list-style: none;

  @media(max-width: 768px) {
    flex: 0;
    width: 80%;
  }

  @media(max-width: 650px) {
    width: 90%;
    row-gap: 1.25rem;
  }
}

.quote {
  width: 450px;
  height: 180px;
  padding: 0.75rem 1rem;
  border-radius: 0.625rem;
  background: rgba(255, 255, 255, 0.08);

  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: 0;

  transition: all 0.4s;

  header {
    display: flex;
    align-items: center;

    svg {
      width: 18px;
      height: auto;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &-user-image {
    width: 65px;
    height: 65px;

    border-radius: 50%;
    box-shadow: var(--secondary) 6px 3px 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &-user-info {
    display: flex;
    flex-direction: column;

    margin-left: 1.875rem;
    margin-right: auto;

    strong {
      text-transform: uppercase;
      color: var(--secondary);
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-bottom: 0.25rem;
    }

    span {
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  p {
    font-size: 1.125rem;
    line-height: 1.25rem;

    margin: auto 0 0.75rem;
  }

  time {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.12);

    transform: translateX(-5rem);
  }

  @media(max-width: 768px) {
    width: 100%;
    margin: 0;
    height: 162px;
  }

  @media(max-width: 650px) {
    height: 118px;
    padding: 0.5rem 0.75rem;
  
    &-user-image {
      width: 35px;
      height: 35px;
      box-shadow: var(--secondary) 4px 2px 0;
    }
  
    &-user-info {
      margin-left: 1rem;
  
      strong {
        font-size: 1.125rem;
        line-height: 1.125rem;
        margin-bottom: 0.25rem;
      }
  
      span {
        font-size: 0.875rem;
        line-height: 1.375rem;
      }

      a svg {
        width: 2rem;
        height: 2rem;
      }
    }
  
    p {
      font-size: 0.875rem;
      line-height: 1.25rem;
  
      margin: auto 0 0.5rem;
    }
  
    time {
      font-size: 0.75rem;
      line-height: 1rem;
    }

    &:hover {
      transform: translateX(-1rem);
    }
  }
}