.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3.125rem;

  img {
    // opacity: 0.655;
    margin-right: 4.375rem;
  }

  h1 {
    margin: 0.5rem 0 2.75rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }


  @media(max-width: 768px) {
    position: relative;
    padding: 0 3rem 0 13rem;
    justify-content: flex-end;
    min-height: 750px;

    img {
      position: absolute;
      top: 0;
      left: -215px;
    }

    h1 {
      margin: 0.5rem 0 2rem;
    }

    p {
      text-align: justify;
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  @media(max-width: 650px) {
    padding: 5rem 0 0 0;
    height: 100vh;
    min-height: 0;

    img {
      left: -190px;
      bottom: 0;
      margin: auto 0;
      width: auto;
      height: 600px;
    }

    h1 {
      margin: 0.5rem 0 1rem;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: left;
    }

    p, h1, h3 {
      padding-left: 12rem;
    }
  }
}

.content {
  width: 100%;
  max-width: 678px;
  z-index: 2;

  @media(max-width: 768px) {
    max-width: 100%;
    padding-top: 8rem;
  }

  @media(max-width: 650px) {
    padding-top: 0;
  }
}

.form {
  display: flex;
  align-items: stretch;
  column-gap: 1rem;

  margin-top: 2.75rem;

  .field {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 0.375rem 1.25rem;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.08);

    label {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-bottom: 0.125rem;
    }

    input {
      color: var(--secondary);
      font-size: 1.125rem;
      line-height: 1.5rem;

      outline: 0;
      border: 0;
      background: transparent;

      &::placeholder {
        color: rgba(255, 181, 72, 0.6);
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 260px;
    height: 60px;

    color: #1A1917;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.375rem;

    border-radius: 0.25rem;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);

    transition: filter 0.4s;

    &:hover {
      filter: brightness(0.9)
    }
  }

  @media(max-width: 768px) {
    .field {
      padding: 0.25rem 1rem;
  
      label {
        font-size: 0.75rem;
        line-height: 1rem;
      }
  
      input {
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
    }
  
    button {
      width: 230px;
      height: 40px;
  
      font-size: 0.875rem;
      line-height: 1rem;
    }
  }

  @media(max-width: 650px) {
    flex-direction: column;
    margin-top: 4rem;

    button {
      margin-top: 1rem;
      width: 100%;
      height: 36px;
    }
  }
}
