.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3.125rem;

  img {
    margin-right: 4.375rem;
  }

  h1 {
    margin: 0.5rem 0 2.75rem;
  }

  p {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}

.content {
  width: 100%;
  max-width: 678px;
}

.form {
  display: flex;
  align-items: stretch;
  column-gap: 1rem;

  margin-top: 2.75rem;

  .field {
    flex: 1;
    display: flex;
    flex-direction: column;

    padding: 0.375rem 1.25rem;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.08);

    label {
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-bottom: 0.125rem;
    }

    input {
      color: var(--secondary);
      font-size: 1.125rem;
      line-height: 1.5rem;

      outline: 0;
      border: 0;
      background: transparent;

      &::placeholder {
        color: rgba(255, 181, 72, 0.6);
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 260px;
    height: 60px;

    color: #1A1917;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.375rem;

    border-radius: 0.25rem;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);

    transition: filter 0.4s;

    &:hover {
      filter: brightness(0.9)
    }
  }
}
