* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

:root {
  --primary: #FFFFFF ;
  --secondary: #FFB548;

  --font-bebas: 'Bebas Neue';

  --main-width: 1200px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #080A0B;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.2rem;
  }
  /* Track */
  &::-webkit-scrollbar-tracke {
    background: transparent;
    border-radius: 0.25rem;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 0.375rem;
  }
}

 body, button, textarea, input {
  color: var(--primary);
  font: 400 1rem "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}

h1, h2, h3 {
  font-weight: bold;
  font-family: var(--font-bebas);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

@media(max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.375rem;
  }
  
  h3 {
    font-size: 1.125rem;
  }
}

.background {
  display: flex;
  width: 100%;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &.banner {
    background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url('/backgrounds/header.png');
  }

  &.system-requirements {
    background-image: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url('/backgrounds/system-requirements.png');
  }

  &.quotes {
    background-image: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%), url('/backgrounds/quotes.png');
  }

  &.features {
    background-image:  radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url('/backgrounds/features.png');
  }

  &.about {
    background-image: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), linear-gradient(rgba(15, 15, 15, 0.9),rgba(15, 15, 15, 0.9)), url('/backgrounds/about.png');
  }
}