.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  header, footer {
    width: 100%;
    max-width: var(--main-width);
  }

  section {
    display: flex;
    width: 100%;
    
    > div {
      margin: 0 auto;
      width: 100%;
      max-width: var(--main-width);
    }
  }

  @media(max-width: 1200px) {
    padding: 0 2rem;
  }
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;

  background-image: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), url('/background-main.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}