.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  header, footer {
    width: 100%;
    max-width: var(--main-width);
  }

  section {
    display: flex;
    width: 100%;
    
    > div {
      margin: 0 auto;
      width: 100%;
      max-width: var(--main-width);
    }
  }

  @media(max-width: 1200px) {
    padding: 0 2rem;
  }
}

.background {
  flex-direction: column;
  align-items: center;
}