.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // background: blue;
  padding: 1.375rem 0;

  > img {
    width: 55px;
    height: auto;
  }

  ul {
    list-style: none;
  }

  button, li {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.navigation ul {
  display: flex;
  align-items: center;
  column-gap: 2.375rem;

  li {
    display: flex;
    position: relative;

    &::after {
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      right: 0;
      margin: 0 auto;
  
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background:rgba(255, 255, 255, 0.5);

      transition: width 0.4s;
    }
  
    &:hover {
      cursor: pointer;
      
      &::after {
        width: 60%;
      }
    }
  }
}

.navigation-right {
  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: auto;
    opacity: 0.6;
    transition: opacity 0.4s;

    &:last-child {
      margin-left: 1rem;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.languages {
  display: flex;
  flex-direction: column;
  position: relative;

  padding-right: 1.5rem;
  margin-right: 1.5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.5);

  button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;

    width: 68px;

    svg {
      margin-left: 0.375rem;
    }
  }

  ul {
    position: absolute;
    top: 1.75rem;
    left: 0;

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0 0.75rem;

    // width: 100%;
    max-height: 0;
    overflow: hidden;

    border-radius: 0.25rem;
    background: rgba(0, 0, 0, 0.75);

    transition: all 0.4s ease-in-out;

    li.selected-language {
      color: var(--secondary);
    }

    li:hover {
      cursor: pointer;
      color: var(--secondary);
    }

    &.active {
      // opacity: 1;
      max-height: 160px;
      padding: 0.5rem 0.75rem;
    }
  }
}
