.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5rem;

  @media(max-width: 768px) {
    padding-right: 0;
    justify-content: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 430px;

  h1 {
    margin: 0.5rem 0 4.375rem;
    
    @media(max-width: 768px) {
      margin: 0.5rem 0 2rem;
    }
  }

  @media(max-width: 650px) {
    max-width: 278px;
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  list-style: none;

  row-gap: 0.5rem;

  li {
    display: flex;
    flex-direction: column;
    position: relative;

    padding: 0 0 1.75rem 3rem;

    height: 100%;
    max-height: 36px;
    overflow: hidden;

    transition: all 0.6s;

    &::before {
      content: '';
      
      position: absolute;
      top: 0;
      left: 6.5px;
      width: 1px;
      height: 0;
      background: var(--primary);

      transition: height 0.6s;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid var(--primary);
      background: transparent;

      transition: background 0.6s;
    }

    &.active {
      max-height: 1000px;
      transition: all 1.2s;

      &::before {
        height: 100%;
        transition: all 1.2s;
      }

      span {
        background: var(--primary);
        transition: all 1.2s;
      }
    }
  
    strong {
      user-select: none;
      font-weight: bold;
      font-family: var(--font-bebas);
      color: var(--secondary);
      font-size: 2.25rem;
      line-height: 2.25rem;
      letter-spacing: 2px;
  
      margin-bottom: 0.25rem;
    }
  
    p {
      font-size: 1.125rem;
      line-height: 1.375rem;
      text-align: justify;
    }

    @media(max-width: 768px) {
      padding: 0 0 1.75rem 3rem;
      max-height: 28px;

      strong {
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 0.3px;

        margin-bottom: 0.625rem;
      }
    
      p {
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
  }

}