.container {
  margin-top: 216px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin: 0.5rem 0 1.75rem;
  }

  button {
    font-weight: 700;
    font-size: 1rem;
    color: #1A1917;

    padding: 1.125rem 1rem;
    border-radius: 0.25rem;
    background: var(--secondary);

    display: flex;
    align-items: center;
    column-gap: 1rem;

    span {
      display: block;
      width: 1px;
      height: 24px;
      opacity: 0.5;
      background: #1a1917;
    }

    transition: filter 0.4s;

    &:hover {
      filter: brightness(0.92);
    }
  }

  @media(max-width: 768px) {
    margin-top: 30vh;
  }

  @media(max-width: 650px) {

    h3 {
      margin: 0.5rem 0 0.75rem;
    }

    button {
      column-gap: 0.5rem;
      font-size: 0.875rem;
      padding: 0.875rem 0.625rem;
  
      span {
        height: 18px;
      }
    }
  }
}